{% extends "school/_base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="header">
        <div class="header-top">
          <div class="title-page">
            <div class="title">
              <h1 class="fs-2">Shree mahunyal Secondary School</h1>
              <h1 class="fs-6">Bardagoriaya RM-06, Baskoti, Kailali</h1>
            </div>
            <a href="#">Weclome</a>
          </div>
        </div>
      </div>
</div>
<footer class="footer">
    <div class="container text-center">
      <p>&copy; 2024 Your Company Name. All rights reserved.</p>
      <p>Designed with <span style="color: red;">&#10084;</span> by Ayush</p>
    </div>
  </footer>
{% endblock %}